# Dependencies
node_modules/
.pnp
.pnp.js

# Production build artifacts
dist/
dist-ssr/
*.local

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor and OS directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temporary testing & browser profiles
.chrome-test-profile/
.temp*
__pycache__/
*.pyc
